//avatar


.avatar {
    background: {
        size: cover;
        position: center;
    }

    border-radius: 50%;

    &-xxs {
        @extend .avatar;
        width: 20px;
        height: 20px;
    }

    &-xs {
        @extend .avatar;
        width: 36px;
        height: 36px;
    }

    &-sm {
        @extend .avatar;
        width: 40px;
        height: 40px;
    }

    &-sm-2 {
        @extend .avatar;
        width: 75px;
        height: 75px;
    }

    &-md {
        @extend .avatar;
        width: 150px;
        height: 150px;
    }
}

.multi-avatar {
    @include flexbox();
    @include align-items(center);
    margin-left: 5px;

    #{$avatar} {
        margin-left: -5px;
        border: solid 1px $white;
    }

    .more-people {
        background: $light-grey;
        font-size: torem(8);
        color: $white;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        line-height: 0;
    }
}

.avatar-list {
    #{$avatar} {
        border: solid 2px $white;
        @include box-shadow(0 0 2px 0 rgba(0, 0, 0, 0.16));
    }
}