@font-face {
  font-family: 'BaskervilleBoldItalicBT';
  src: url('/static/fonts/baskerville/BaskervilleBoldItalicBT.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'BaskervilleBoldBT';
  src: url('/static/fonts/baskerville/BaskervilleBoldBT.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'BaskervilleBT';
  src: url('/static/fonts/baskerville/BaskervilleBT.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'BaskervilleItalicBT';
  src: url('/static/fonts/baskerville/BaskervilleItalicBT.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'BASKE10';
  src: url('/static/fonts/baskerville/BASKE10.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'baskvl';
  src: url('/static/fonts/baskerville/baskvl.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'baskerville bold bt';
  src: url('/static/fonts/baskerville/baskerville bold bt.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Baskerville Bold font';
  src: url('/static/fonts/baskerville/Baskerville Bold font.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'baskervi';
  src: url('/static/fonts/baskerville/baskervi.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'BASKRV_L';
  src: url('/static/fonts/baskerville/BASKRV_L.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'BASKE1';
  src: url('/static/fonts/baskerville/BASKE1.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'BASKE9';
  src: url('/static/fonts/baskerville/BASKE9.ttf') format('truetype');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}


@font-face {
  font-family: 'sf-ui-display-medium';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-medium.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'sf-ui-display-bold';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-bold.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'sf-ui-display-heavy';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-heavy.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'sf-ui-display-black';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-black.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'sf-ui-display-semibold';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-semibold.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}
@font-face {
  font-family: 'SF-UI-Display-Regular';
  src: url('/static/fonts/sf-ui-display/SF-UI-Display-Regular.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'sf-ui-display-ultralight';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-ultralight.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'sf-ui-display-thin';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-thin.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'sf-ui-display-light';
  src: url('/static/fonts/sf-ui-display/sf-ui-display-light.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}